<p-dataView [value]="agendas" [paginator]="true" [rows]="20" paginatorPosition="both">
  <p-header>
    <div class="ui-helper-clearfix">
      <div class="ui-g">
        <div class="ui-g-12 ui-md-12" style="text-align:right">
          <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
        </div>
      </div>
    </div>
  </p-header>
  <ng-template let-agenda pTemplate="listItem">
    <div class="ui-g-12">
      <div class="agenda-details">
        <div>
          <img src="assets/btnLooper.png">
          <div class="ui-g">
            <div class="ui-g-12">Name: <b>{{agenda.name}}</b></div>
            <div class="ui-g-12">Date from: <b>{{agenda.dateFrom | date:'MMM d, y, h:mm a'}}</b></div>
            <div class="ui-g-12">Date to: <b>{{agenda.dateTo | date:'MMM d, y, h:mm a'}}</b></div>
          </div>
        </div>
        <button pButton type="button" icon="pi pi-search" (click)="selectAgenda($event, agenda)"></button>
      </div>
    </div>
  </ng-template>
  <ng-template let-agenda pTemplate="gridItem">
    <div style="padding:.5em" class="ui-g-12 ui-md-3">
      <p-panel [header]="agenda.name" [style]="{'text-align':'center'}">
        <img src="assets/btnLooper.png" width="60">
        <div class="agenda-detail">{{agenda.dateFrom | date:'MMM d, y, h:mm a'}}</div>
        <div class="agenda-detail">{{agenda.dateTo | date:'MMM d, y, h:mm a'}}</div>
        <hr class="ui-widget-content" style="border-top:0">
        <button pButton type="button" icon="pi pi-search" (click)="selectAgenda($event, agenda)" style="margin-top:0"></button>
      </p-panel>
    </div>
  </ng-template>
</p-dataView>
