<!--<p-fullCalendar #fc [events]="events" [options]="options"></p-fullCalendar>-->
<p-dataView [value]="sessions" [paginator]="true" [rows]="20" paginatorPosition="both">
  <ng-template let-session pTemplate="listItem">
    <div class="ui-g-12">
      <div class="agenda-details">
        <div>
          <div class="ui-g">
            <div class="ui-g-12">Name: <b>{{session.name}}</b></div>
            <div class="ui-g-12">Overview: <b>{{session.sessionOverview}}</b></div>
            <div class="ui-g-12">Time from: <b>{{session.timeFrom | date:'MMM d, y, h:mm a'}}</b></div>
            <div class="ui-g-12">Time to: <b>{{session.timeTo | date:'MMM d, y, h:mm a'}}</b></div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</p-dataView>
