.filter-container {
  text-align: center;
}
.agenda-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
  border-bottom: 1px solid #d9dad9;
}
.agenda-details > div {
  display: flex;
  align-items: center;
}
.agenda-details > div img {
  margin-right: 14px;
}
.agenda-detail {
  padding: 0 1em 1em 1em;
  border-bottom: 1px solid #d9dad9;
  margin: 1em;
}
.ui-panel-content {
  padding: 1em;
}
.dark-theme :host ::ng-deep .agenda-details,
.dark-theme :host ::ng-deep .agenda-detail {
  border-bottom: 1px solid #191919;
}

@media (max-width: 1024px) {
  .agenda-details img {
    width: 75px;
  }
  .filter-container {
    text-align: left;
  }
}

section {
  color: whitesmoke;
  background-image: linear-gradient(rgba(255,255,255,.2), rgba(255,255,255,.2)), url('../../../assets/meeting.jpg');
  min-height: 630px;
}
