<p-panel header="Speakers" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
  <p-messages [(value)]="msgs"></p-messages>
  <app-pick-list (refreshMessages)="onRefreshMessages()"></app-pick-list>
  <br>
  <p-dialog header="Insert speaker" [(visible)]="displaySpeaker" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
            [draggable]="false" [resizable]="false">
    <form [formGroup]="speakerForm" (ngSubmit)="saveSpeaker()">
      <label>First name</label>
      <input class="form-control" type="text" formControlName="speakerName">
      <div class="form-control" *ngIf="!speakerForm.controls['speakerName'].valid&&speakerForm.controls['speakerName'].dirty" style="background-color: #f8b7bd; color: #212121;">
        <span ><i class="pi pi-times" style="vertical-align: middle;"></i> First name is required</span>
      </div>
      <br>
      <label>Last name</label>
      <input class="form-control" type="text" formControlName="speakerLastName">
      <div class="form-control" *ngIf="!speakerForm.controls['speakerLastName'].valid&&speakerForm.controls['speakerLastName'].dirty" style="background-color: #f8b7bd; color: #212121;">
        <span ><i class="pi pi-times" style="vertical-align: middle;"></i> Last name is required</span>
      </div>
      <br>
      <label>Faculty</label>
      <input class="form-control" type="text" formControlName="speakerFaculty">
      <div class="form-control" *ngIf="!speakerForm.controls['speakerFaculty'].valid&&speakerForm.controls['speakerFaculty'].dirty" style="background-color: #f8b7bd; color: #212121;">
        <span ><i class="pi pi-times" style="vertical-align: middle;"></i> Faculty is required</span>
      </div>
      <br>
      <label>Organization</label>
      <input class="form-control" type="text" formControlName="speakerOrganization">
      <div class="form-control" *ngIf="!speakerForm.controls['speakerOrganization'].valid&&speakerForm.controls['speakerOrganization'].dirty" style="background-color: #f8b7bd; color: #212121;">
        <span ><i class="pi pi-times" style="vertical-align: middle;"></i> Organization is required</span>
      </div>
      <br>
      <label>Email</label>
      <input class="form-control" type="email" formControlName="speakerEmail">
      <div class="form-control" *ngIf="!speakerForm.controls['speakerEmail'].valid&&speakerForm.controls['speakerEmail'].dirty" style="background-color: #f8b7bd; color: #212121;">
        <span ><i class="pi pi-times" style="vertical-align: middle;"></i> Not valid email</span>
      </div>
      <br>
      <label>Username</label>
      <input class="form-control" type="text" formControlName="username">
      <div class="form-control" *ngIf="!speakerForm.controls['username'].valid&&speakerForm.controls['username'].dirty" style="background-color: #f8b7bd; color: #212121;">
        <span ><i class="pi pi-times" style="vertical-align: middle;"></i> Username is required</span>
      </div>
      <br>
      <label>Password</label>
      <input class="form-control" type="password" formControlName="password">
      <div class="form-control" *ngIf="!speakerForm.controls['password'].valid&&speakerForm.controls['password'].dirty" style="background-color: #f8b7bd; color: #212121;">
        <span ><i class="pi pi-times" style="vertical-align: middle;"></i> Password is required</span>
      </div>
      <br>
      <p-footer>
        <button type="button" pButton icon="pi pi-times" (click)="displaySpeaker=false" label="Cancel" class="ui-button-secondary" style="margin-left: .25em;float: right;"></button>
        <button type="submit" pButton icon="pi pi-check" label="Save" [disabled]="!speakerForm.valid" style="margin-right: .25em; float: right;"></button>
      </p-footer>
    </form>
  </p-dialog>
  <p-footer>
    <button pButton type="button" icon="pi pi-plus" label="New" class="ui-button-info" style="margin-right: .25em" (click)="showSpeakerModal()"></button>
  </p-footer>
</p-panel>
